body {
  font-family: sans-serif;
  color: #172b4d;
  background-color: #027abfc9;
  display: flex;
  align-items: start;
  font-family: 'Macondo', cursive;
  background-image: url('https://webstockreview.net/images/coach-clipart-greyhound-bus-18.png');
}

div {
  border-radius: 3px;
}

#main {
  display: flex;
  align-items: start;
}

.title {
  font-weight: 600;
}

.editable {
  user-select: none;
  outline: none;
  margin: 7px;
  padding: 10px;
  cursor: pointer !important;
  display: flex;
  justify-content: space-between;
}

.editing {
  background: white;
  color: #172b4d !important;
  box-shadow:inset 0px 0px 0px 2px #0279bf;
}

.editing:hover {
  background: white !important;
}

.card {
  background: rgb(147, 254, 213);
  border-bottom: 1px solid rgb(227, 255, 126);
}

.list {
/*   padding: 7px; */
  min-width: 280px;
  margin: 10px 5px;
  position: relative;
  background: #e2e6df;
}


.add-list {
  min-width: 280px;
  margin: 10px 5px;
  position: relative;
  background: rgba(220, 213, 11, 0.842);
  color: hsla(0,0%,100%,.8);
}

.ghost {
  opacity: .1;
  color: #000;
  background-color: #000;
}

.add-card {
  width: calc(100% - 35px);
  display: inline-block;
  padding: 10px;
  margin-top: 0px;
  color: gray;
  text-decoration: none;
/*   border-bottom: 1px solid #dfe1e6; */
}

.add-card:hover {
  background-color: rgba(19, 222, 36, 0.734);
}

.del {
  font-weight: 600;
  color: gray;
}